altair==4.2.2
astor==0.8.1
backports.zoneinfo==0.2.1
base58==2.1.1
blinker==1.6.2
cachetools==5.3.1
click==7.1.2
entrypoints==0.4
numpy==1.24.4
pandas==2.0.3
Pillow==10.0.0
protobuf==4.24.0
pyarrow==12.0.1
pydeck==0.8.1b0
streamlit==0.85.0
toml==0.10.2
toolz==0.12.0
tzdata==2023.3
tzlocal==5.0.1
validators==0.21.2
watchdog==3.0.0
